@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Geologica", sans-serif;
}

.btn {
  @apply py-[4px] font-medium px-[15px] w-full rounded-md cursor-pointer flex justify-center items-center gap-[10px] border-[1px] hover:shadow-sm active:shadow-none duration-150
}

.btn-solid-blue {
  @apply bg-blue-500 text-white border-blue-500 hover:bg-blue-600 
}

.btn-outline-indigo {
  @apply border-indigo-500 text-indigo-500 hover:bg-indigo-100 
}

.btn-solid-red {
  @apply bg-red-500 text-white border-red-600 hover:bg-red-600
}

.btn-outline-red {
  @apply border-red-500 text-red-500 hover:bg-red-100
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}